{
	"version": "10",
	"aliases": {
		
		"rlab": {
			"url": "https://minio.rlab.be",
			"accessKey": "{{ minio_user }}",
			"secretKey": "{{ minio_passwd }}",
			"api": "s3v4",
			"path": "auto"
		}	
	}
}
